* {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: blanchedalmond;
}

header {
    background-color: lightpink;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 50px;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav h2 {
    font-size: 2rem;
}

.nav-receitas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    width: 90%;
}

.banner-receita {
    padding: 0.5rem;
    filter: grayscale(1);
}

.nav-receitas:hover {
    transform: scale(0.95);
    transition-duration: 0.5s;
}

.banner-receita:hover {
    filter: grayscale(0);
    filter: brightness(1);
    filter: contrast(1);
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.banner-receita:not(:hover), .nav-receitas:not(:hover){
    transition-duration: 0.5s;
}

.banner-img {
    width: 10rem;
    height: 16rem;
    border: 2px solid brown;
    border-radius: 0.5rem;
}

.nome-receita {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
}

.receitas {
    margin: 0rem 3rem 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    width: 100%;

}

.receita {  
    background-color: lightsalmon;
    padding: 2rem;
    width: 80%;
    transform: translate(-5%);
    border-radius: 1rem;
    border: 0.5rem solid brown;
}

.titulo-receita {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 0 1rem 0;
}

.receita h3 {
    margin-left: 2rem;
    font-size: 1.5rem;
    padding: 1rem;
} 

.ingredientes {

}

.lista-ingredientes {

}

.preparo {

}

footer {
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    margin-top: 3rem;
}

.infos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.5rem 0 0 0;
    gap: 2rem;
    list-style: none;
}